
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.information-hM5 {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 4.2rem 4.3rem 9.9rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .menu-Bn3 {
    margin-bottom: 8.1rem;
    width: 100%;
    height: 7.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .hhru-logo-J5y {
      margin: 0rem 3.618rem 0.5rem 0rem;
      width: 6.9rem;
      height: 6.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .new-york-ccT {
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 2.467rem 4.713rem 2.159rem 0rem;
      line-height: 1.2175;
      color: #333333;
      border-bottom: solid 0.2rem #333333;
      white-space: nowrap;
      height: calc(100% - 4.6261rem);
      font-size: 1.8rem;
      font-weight: 600;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .informations-soH {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.102rem 0.267rem 0rem;
    }
    .community-A1h {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 62.103rem 0.267rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
    }
    .resume-button-HMD {
      margin: 1.501rem 1.56rem 1.501rem 0rem;
      width: 19.2005rem;
      height: calc(100% - 3.0029rem);
      position: relative;
      border-radius: 3rem;
      flex-shrink: 0;

      .mypage-c8b {
        width: 6.3rem;
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        left: 6.1649rem;
        top: 1.0986rem;
        display: flex;
        font-weight: 600;
        line-height: 1.2175;
        color: #333333;
      }
      .rectangle-4-iSX {
        left: 0;
        top: 0;
        border: solid 0.1rem #333333;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 19.2005rem;
        height: 4.3971rem;
        position: absolute;
      }
    }
    .sing-in-button-qX9 {
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      background-color: #d6001c;
      width: 12.4048rem;
      font-size: 1.5rem;
      display: flex;
      flex-shrink: 0;
      height: calc(100% - 3.0029rem);
      white-space: nowrap;
      justify-content: center;
      margin: 1.501rem 0rem 1.501rem 0rem;
      line-height: 1.2175;
      align-items: center;
      border-radius: 3rem;
      font-weight: 600;
    }
  }
  .auto-group-m7mu-tVR {
    margin: 0rem 14.8rem 7.7rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-18-Cm1 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 10.5rem;
      width: 32rem;
      height: 100%;
      position: relative;

      .learn-more--ijM {
        font-size: 1.6rem;
        line-height: 1.1875;
        color: #4ba87d;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.6rem;
        position: absolute;
        left: 3rem;
        top: 39.3rem;
        font-weight: 800;
        height: 1.9rem;
      }
      .name-NZ1 {
        height: 7.8rem;
        left: 3rem;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 24.2rem;
        position: absolute;
        top: 2.9rem;
        line-height: 1.3;
      }
      .period-GPV {
        line-height: 1.625;
        color: #eb4335;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 19.7rem;
        height: 2.6rem;
        position: absolute;
        left: 3rem;
        font-size: 1.6rem;
        top: 17.9rem;
        font-weight: 900;
        white-space: nowrap;
      }
      .apply-m5M {
        height: 2.6rem;
        position: absolute;
        left: 3rem;
        font-weight: 400;
        line-height: 1.625;
        letter-spacing: -0.2rem;
        width: 17.9rem;
        top: 20.8rem;
        font-size: 1.6rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
      }
      .benefit-Gno {
        position: absolute;
        left: 3rem;
        font-size: 1.6rem;
        width: 23.9rem;
        height: 5.2rem;
        line-height: 1.625;
        letter-spacing: -0.1rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        top: 28.6rem;
        font-weight: 500;
      }
    }
    .group-19-9Lo {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-q395-72j {
        margin-right: 11.2rem;
        box-sizing: border-box;
        padding: 2.9rem 4.3rem 2.9rem 3rem;
        width: 32rem;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;

        .name-6hH {
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 7.2rem;
          font-weight: 700;
          letter-spacing: -0.2rem;
          max-width: 24.7rem;
          font-size: 2rem;
          line-height: 1.3;
        }
        .period-c9q {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .apply-8dy {
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
        }
        .benefit-TgF {
          color: #000000;
          flex-shrink: 0;
          margin: 0rem 0.3rem 5.5rem 0rem;
          max-width: 24.4rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .learn-more--nCj {
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.1rem;
          font-size: 1.6rem;
          font-weight: 800;
        }
      }
      .group-18-fGX {
        padding: 2.9rem 4.1rem 2.9rem 3rem;
        height: 100%;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        box-sizing: border-box;
        width: 32rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .name-XpX {
          line-height: 1.3;
          letter-spacing: -0.2rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-weight: 700;
          max-width: 24.3rem;
          font-size: 2rem;
          color: #000000;
          flex-shrink: 0;
          margin: 0rem 0.6rem 4.6rem 0rem;
        }
        .period-p2w {
          flex-shrink: 0;
          margin: 0rem 5.3rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
        }
        .apply-8pK {
          margin-bottom: 2.6rem;
          max-width: 24.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .benefit-G9q {
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 8.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .learn-more--ya3 {
          margin-right: 15.3rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-cdss-vNo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 14.8rem 8.7rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;

    .group-18-eJo {
      padding: 2.9rem 4.4rem 2.9rem 3rem;
      width: 32rem;
      height: 100%;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 10.5rem;
      box-sizing: border-box;

      .name-NEo {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin-bottom: 9.8rem;
        max-width: 24.6rem;
      }
      .period-U2w {
        color: #eb4335;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.3rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.625;
      }
      .apply-oqu {
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin-bottom: 2.6rem;
        max-width: 24.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        letter-spacing: -0.2rem;
      }
      .benefit-wBR {
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 8.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: -0.1rem;
      }
      .learn-more--ebd {
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.1875;
        color: #4ba87d;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-19-mRM {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-j1tx-XfR {
        box-sizing: border-box;
        width: 32rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 11.2rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 2.9rem 4.3rem 2.9rem 3rem;

        .name-SXV {
          font-weight: 700;
          line-height: 1.3;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.6rem;
          max-width: 24.7rem;
          font-size: 2rem;
        }
        .period-wUF {
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
        }
        .apply-s71 {
          margin: 0rem 0.2rem 2.6rem 0rem;
          max-width: 24.5rem;
          font-size: 1.6rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          flex-shrink: 0;
        }
        .benefit-NJf {
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          margin: 0rem 1.1rem 8.1rem 0rem;
        }
        .learn-more--rzX {
          margin-right: 15.1rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-18-Ze3 {
        box-sizing: border-box;
        width: 32rem;
        height: 100%;
        align-items: center;
        padding: 2.9rem 4rem 2.9rem 3rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;

        .name-5sH {
          margin-bottom: 7.2rem;
          color: #000000;
          flex-shrink: 0;
          letter-spacing: -0.2rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          max-width: 25rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
        }
        .period-DTh {
          flex-shrink: 0;
          margin: 0rem 5.3rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
        }
        .apply-84s {
          font-family: Noto Sans KR, 'Source Sans Pro';
          max-width: 24.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          margin: 0rem 0.6rem 2.6rem 0rem;
          letter-spacing: -0.2rem;
          color: #000000;
          flex-shrink: 0;
        }
        .benefit-R3y {
          margin: 0rem 0.2rem 5.5rem 0rem;
          line-height: 1.625;
          color: #000000;
          flex-shrink: 0;
          max-width: 24.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          letter-spacing: -0.1rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .learn-more--j4f {
          flex-shrink: 0;
          margin-right: 15.4rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-ny1h-2pT {
    margin: 0rem 14.8rem 0rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-18-M63 {
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 10.5rem;
      width: 32rem;
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .learn-more--rHh {
        height: 1.9rem;
        position: absolute;
        top: 39.3rem;
        font-weight: 800;
        line-height: 1.1875;
        font-family: Raleway, 'Source Sans Pro';
        width: 9.6rem;
        left: 3rem;
        font-size: 1.6rem;
        color: #4ba87d;
        white-space: nowrap;
      }
      .name-kts {
        left: 3rem;
        top: 2.9rem;
        font-size: 2rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        position: absolute;
        height: 5.2rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.2rem;
        color: #000000;
        width: 24.9rem;
      }
      .period-dSs {
        color: #eb4335;
        position: absolute;
        left: 3rem;
        top: 17.9rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.625;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.7rem;
        height: 2.6rem;
      }
      .apply-L6P {
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.625;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.6rem;
        left: 3rem;
        top: 20.8rem;
        font-weight: 400;
        letter-spacing: -0.2rem;
        width: 24.3rem;
      }
      .benefit-ESf {
        height: 5.2rem;
        position: absolute;
        font-weight: 500;
        color: #000000;
        letter-spacing: -0.1rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 24.4rem;
        left: 3rem;
        top: 28.6rem;
        font-size: 1.6rem;
        line-height: 1.625;
      }
    }
    .group-19-uoh {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-19mm-g3m {
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 11.2rem;
        width: 32rem;
        height: 100%;

        .learn-more--bRd {
          font-size: 1.6rem;
          font-weight: 800;
          white-space: nowrap;
          width: 9.6rem;
          position: absolute;
          top: 39.3rem;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          height: 1.9rem;
          left: 3rem;
        }
        .name-W2o {
          height: 7.8rem;
          left: 3rem;
          top: 2.9rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
          color: #000000;
          width: 25rem;
          position: absolute;
          letter-spacing: -0.2rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-nm1 {
          height: 2.6rem;
          position: absolute;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.7rem;
          left: 3rem;
          top: 17.9rem;
          font-size: 1.6rem;
        }
        .apply-tZ9 {
          position: absolute;
          top: 20.8rem;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          width: 17.8rem;
          height: 2.6rem;
          font-weight: 400;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          left: 3rem;
          font-size: 1.6rem;
        }
        .benefit-Ytb {
          font-weight: 500;
          line-height: 1.625;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          height: 2.6rem;
          position: absolute;
          font-size: 1.6rem;
          letter-spacing: -0.1rem;
          white-space: nowrap;
          width: 22.5rem;
          left: 3rem;
          top: 28.6rem;
        }
      }
      .group-18-eAw {
        box-sizing: border-box;
        padding: 2.9rem 4rem 2.9rem 3rem;
        width: 32rem;
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;

        .name-xxK {
          margin-bottom: 9.8rem;
          max-width: 25rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-u6s {
          margin-bottom: 0.3rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
        }
        .apply-qmD {
          margin-bottom: 2.6rem;
          max-width: 24.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .benefit-MDm {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 8.1rem;
        }
        .learn-more--tjV {
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
