
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.5rem;
}.group-2-Wm9 {
  width: 100%;
  row-gap: 2.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8078rem;

  .auto-group-4xa7-ra7 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 8.5rem;

    .eamilid-Cts {
      margin-right: 5.2rem;
      width: 33.6rem;
      height: 100%;
      border-radius: 0.8078rem;
      flex-shrink: 0;

      .first-name--WPm {
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-24yq-DZ5 {
        font-family: Poppins, 'Source Sans Pro';
        background-color: #eeeeee;
        border-radius: 0.8078rem;
        box-sizing: border-box;
        padding: 1.447rem 2.254rem 1.453rem 2.254rem;
        line-height: 1.5;
        color: #555555;
        width: 100%;
        font-size: 1.4136rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
    .eamilid-Uzo {
      width: 33.7rem;
      height: 100%;
      border-radius: 0.8078rem;
      flex-shrink: 0;

      .last-name--Ej5 {
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-cnuq-Acj {
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 1.447rem 2.261rem 1.453rem 2.261rem;
        width: 100%;
        font-size: 1.4136rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #eeeeee;
        border-radius: 0.8078rem;
      }
    }
  }
  .auto-group-8jq5-EsV {
    flex-shrink: 0;
    width: 100%;
    height: 8.5rem;
    display: flex;
    align-items: center;

    .eamilid-msR {
      margin-right: 5.2rem;
      width: 33.6rem;
      height: 100%;
      border-radius: 0.8078rem;
      flex-shrink: 0;

      .email--j3Z {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
      }
      .auto-group-2f2j-ewD {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.8078rem;
        padding: 1.447rem 2.254rem 1.453rem 2.254rem;
        width: 100%;
        font-weight: 400;
        background-color: #eeeeee;
        box-sizing: border-box;
        font-size: 1.4136rem;
        color: #555555;
      }
    }
    .eamilid-97H {
      flex-shrink: 0;
      width: 33.7rem;
      height: 100%;
      border-radius: 0.8078rem;

      .mobile-num--HjH {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
      }
      .auto-group-siwu-bEB {
        padding: 1.447rem 2.261rem 1.453rem 2.261rem;
        width: 100%;
        font-size: 1.4136rem;
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        border-radius: 0.8078rem;
        box-sizing: border-box;
        font-weight: 400;
        white-space: nowrap;
        background-color: #eeeeee;
      }
    }
  }
  .auto-group-83zb-rA7 {
    width: 100%;
    height: 8.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .eamilid-yEj {
      margin-right: 5.2rem;
      width: 33.6rem;
      height: 100%;
      border-radius: 0.8078rem;
      flex-shrink: 0;

      .password--vQs {
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
        font-weight: 400;
      }
      .auto-group-xw3y-41H {
        border-radius: 0.8078rem;
        padding: 1.447rem 2.254rem 1.453rem 2.254rem;
        width: 100%;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 1.4136rem;
        font-weight: 400;
        color: #555555;
        background-color: #eeeeee;
      }
    }
    .eamilid-jt7 {
      width: 33.7rem;
      height: 100%;
      border-radius: 0.8078rem;
      flex-shrink: 0;

      .confirm-password--W8B {
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-size: 1.6156rem;
      }
      .auto-group-53mu-qAT {
        background-color: #eeeeee;
        border-radius: 0.8078rem;
        padding: 1.447rem 2.261rem 1.453rem 2.261rem;
        font-weight: 400;
        color: #555555;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.4136rem;
      }
    }
  }
}
