
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.information-Y6f {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 4.2rem 4.3rem 9.9rem 4.3rem;
  width: 100%;
  align-items: center;

  .menu-Sxj {
    height: 7.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 8.1rem;
    width: 100%;

    .hhru-logo-PNB {
      margin: 0rem 3.618rem 0.5rem 0rem;
      width: 6.9rem;
      height: 6.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .new-york-UuR {
      flex-shrink: 0;
      font-weight: 600;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      border-bottom: solid 0.2rem #333333;
      box-sizing: border-box;
      margin: 2.467rem 4.713rem 2.159rem 0rem;
      height: calc(100% - 4.6261rem);
      font-size: 1.8rem;
      line-height: 1.2175;
    }
    .informations-sgf {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.102rem 0.267rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
    }
    .community-ZJb {
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 62.103rem 0.267rem 0rem;
      font-size: 1.8rem;
    }
    .resume-button-eqq {
      margin: 1.501rem 1.56rem 1.501rem 0rem;
      width: 19.2005rem;
      height: calc(100% - 3.0029rem);
      position: relative;
      border-radius: 3rem;
      flex-shrink: 0;

      .mypage-8FD {
        white-space: nowrap;
        height: 1.9rem;
        left: 6.1649rem;
        top: 1.0986rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #333333;
        font-family: Montserrat, 'Source Sans Pro';
        width: 6.3rem;
        position: absolute;
        display: flex;
        line-height: 1.2175;
      }
      .rectangle-4-REK {
        top: 0;
        border: solid 0.1rem #333333;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 19.2005rem;
        height: 4.3971rem;
        position: absolute;
        left: 0;
      }
    }
    .sing-in-button-7cw {
      display: flex;
      justify-content: center;
      border-radius: 3rem;
      height: calc(100% - 3.0029rem);
      line-height: 1.2175;
      color: #ffffff;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #d6001c;
      margin: 1.501rem 0rem 1.501rem 0rem;
      width: 12.4048rem;
      font-weight: 600;
      align-items: center;
    }
  }
  .auto-group-avbr-Yy9 {
    margin: 0rem 14.8rem 7.7rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-18-S2w {
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 10.5rem;
      width: 32rem;

      .learn-more--mL7 {
        color: #4ba87d;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.6rem;
        height: 1.9rem;
        left: 3rem;
        top: 39.3rem;
        font-size: 1.6rem;
        position: absolute;
        font-weight: 800;
        line-height: 1.1875;
      }
      .name-rsM {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.2rem;
        width: 24.2rem;
        height: 7.8rem;
        position: absolute;
        left: 3rem;
        top: 2.9rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
      .period-NKu {
        width: 19.7rem;
        position: absolute;
        color: #eb4335;
        font-family: Noto Sans KR, 'Source Sans Pro';
        height: 2.6rem;
        left: 3rem;
        top: 17.9rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.625;
        white-space: nowrap;
      }
      .apply-h7H {
        line-height: 1.625;
        letter-spacing: -0.2rem;
        color: #000000;
        width: 17.9rem;
        position: absolute;
        top: 20.8rem;
        font-weight: 400;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.6rem;
        left: 3rem;
        font-size: 1.6rem;
      }
      .benefit-B2T {
        position: absolute;
        left: 3rem;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.1rem;
        color: #000000;
        width: 23.9rem;
        height: 5.2rem;
        top: 28.6rem;
        line-height: 1.625;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
    }
    .group-19-3KZ {
      align-items: center;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .auto-group-ghd5-CiF {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        box-sizing: border-box;
        width: 32rem;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        margin-right: 11.2rem;
        padding: 2.9rem 4.3rem 2.9rem 3rem;
        align-items: center;
        flex-direction: column;

        .name-JmH {
          flex-shrink: 0;
          font-family: Noto Sans KR, 'Source Sans Pro';
          margin-bottom: 7.2rem;
          max-width: 24.7rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
          letter-spacing: -0.2rem;
          color: #000000;
        }
        .period-Rqu {
          margin: 0rem 5rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .apply-MUf {
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.7rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .benefit-eyZ {
          font-family: Noto Sans KR, 'Source Sans Pro';
          margin: 0rem 0.3rem 5.5rem 0rem;
          max-width: 24.4rem;
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          font-size: 1.6rem;
          flex-shrink: 0;
        }
        .learn-more--whm {
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.1rem;
          font-size: 1.6rem;
          font-weight: 800;
        }
      }
      .group-18-FTZ {
        width: 32rem;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        padding: 2.9rem 4.1rem 2.9rem 3rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;

        .name-B6K {
          letter-spacing: -0.2rem;
          color: #000000;
          margin: 0rem 0.6rem 4.6rem 0rem;
          font-size: 2rem;
          line-height: 1.3;
          flex-shrink: 0;
          max-width: 24.3rem;
          font-weight: 700;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-H9M {
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.3rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
        }
        .apply-n67 {
          font-weight: 400;
          letter-spacing: -0.2rem;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          max-width: 24.9rem;
          font-size: 1.6rem;
          line-height: 1.625;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .benefit-6sV {
          letter-spacing: -0.1rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          margin: 0rem 0.4rem 8.1rem 0rem;
          line-height: 1.625;
        }
        .learn-more--2FM {
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.3rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
        }
      }
    }
  }
  .auto-group-xec3-i8B {
    margin: 0rem 14.8rem 8.7rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .group-18-cjM {
      padding: 2.9rem 4.4rem 2.9rem 3rem;
      width: 32rem;
      height: 100%;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 10.5rem;
      box-sizing: border-box;

      .name-8hh {
        max-width: 24.6rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin-bottom: 9.8rem;
      }
      .period-STV {
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.3rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.625;
        color: #eb4335;
      }
      .apply-nGT {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        margin-bottom: 2.6rem;
        max-width: 24.4rem;
      }
      .benefit-KGP {
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: -0.1rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 8.1rem;
        font-size: 1.6rem;
      }
      .learn-more--TdV {
        font-weight: 800;
        line-height: 1.1875;
        color: #4ba87d;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
      }
    }
    .group-19-P1M {
      align-items: center;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .auto-group-rtjb-9WK {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        box-sizing: border-box;
        align-items: center;
        width: 32rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 11.2rem;
        padding: 2.9rem 4.3rem 2.9rem 3rem;

        .name-Tmu {
          font-family: Noto Sans KR, 'Source Sans Pro';
          max-width: 24.7rem;
          letter-spacing: -0.2rem;
          font-weight: 700;
          line-height: 1.3;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 4.6rem;
          font-size: 2rem;
        }
        .period-b7R {
          margin: 0rem 5rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .apply-vQb {
          margin: 0rem 0.2rem 2.6rem 0rem;
          max-width: 24.5rem;
          font-weight: 400;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          font-size: 1.6rem;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          flex-shrink: 0;
        }
        .benefit-SNw {
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.1rem 8.1rem 0rem;
          font-size: 1.6rem;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .learn-more--mAK {
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 15.1rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
        }
      }
      .group-18-5B1 {
        height: 100%;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 4rem 2.9rem 3rem;
        width: 32rem;
        display: flex;

        .name-Zby {
          margin-bottom: 7.2rem;
          font-weight: 700;
          letter-spacing: -0.2rem;
          color: #000000;
          flex-shrink: 0;
          max-width: 25rem;
          font-size: 2rem;
          line-height: 1.3;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-hCP {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.3rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .apply-d63 {
          font-size: 1.6rem;
          letter-spacing: -0.2rem;
          color: #000000;
          flex-shrink: 0;
          margin: 0rem 0.6rem 2.6rem 0rem;
          max-width: 24.4rem;
          font-weight: 400;
          line-height: 1.625;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .benefit-WvX {
          font-weight: 500;
          line-height: 1.625;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.2rem 5.5rem 0rem;
          max-width: 24.8rem;
          font-size: 1.6rem;
          letter-spacing: -0.1rem;
        }
        .learn-more--1cP {
          flex-shrink: 0;
          margin-right: 15.4rem;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-asrr-7vK {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 14.8rem 0rem 14.9rem;
    width: calc(100% - 29.7rem);
    height: 44.1rem;
    display: flex;

    .group-18-TDV {
      flex-shrink: 0;
      margin-right: 10.5rem;
      width: 32rem;
      height: 100%;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .learn-more--NrF {
        font-size: 1.6rem;
        line-height: 1.1875;
        white-space: nowrap;
        top: 39.3rem;
        font-weight: 800;
        color: #4ba87d;
        font-family: Raleway, 'Source Sans Pro';
        width: 9.6rem;
        height: 1.9rem;
        position: absolute;
        left: 3rem;
      }
      .name-VR5 {
        width: 24.9rem;
        position: absolute;
        left: 3rem;
        line-height: 1.3;
        letter-spacing: -0.2rem;
        height: 5.2rem;
        top: 2.9rem;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
      }
      .period-bj1 {
        width: 19.7rem;
        height: 2.6rem;
        position: absolute;
        left: 3rem;
        line-height: 1.625;
        top: 17.9rem;
        font-size: 1.6rem;
        font-weight: 900;
        color: #eb4335;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
      }
      .apply-VZV {
        height: 2.6rem;
        position: absolute;
        left: 3rem;
        top: 20.8rem;
        font-size: 1.6rem;
        line-height: 1.625;
        letter-spacing: -0.2rem;
        color: #000000;
        font-family: Noto Sans KR, 'Source Sans Pro';
        white-space: nowrap;
        width: 24.3rem;
        font-weight: 400;
      }
      .benefit-zFM {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: -0.1rem;
        width: 24.4rem;
        height: 5.2rem;
        position: absolute;
        top: 28.6rem;
        font-family: Noto Sans KR, 'Source Sans Pro';
        left: 3rem;
        color: #000000;
      }
    }
    .group-19-gP5 {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-xsjw-St3 {
        margin-right: 11.2rem;
        width: 32rem;
        height: 100%;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;

        .learn-more--mQX {
          color: #4ba87d;
          white-space: nowrap;
          font-size: 1.6rem;
          line-height: 1.1875;
          position: absolute;
          left: 3rem;
          top: 39.3rem;
          font-weight: 800;
          font-family: Raleway, 'Source Sans Pro';
          width: 9.6rem;
          height: 1.9rem;
        }
        .name-To9 {
          font-weight: 700;
          letter-spacing: -0.2rem;
          width: 25rem;
          height: 7.8rem;
          position: absolute;
          left: 3rem;
          top: 2.9rem;
          font-size: 2rem;
          line-height: 1.3;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-n4j {
          font-size: 1.6rem;
          font-weight: 900;
          line-height: 1.625;
          white-space: nowrap;
          height: 2.6rem;
          left: 3rem;
          top: 17.9rem;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          width: 19.7rem;
          position: absolute;
        }
        .apply-JHy {
          font-size: 1.6rem;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          white-space: nowrap;
          width: 17.8rem;
          position: absolute;
          top: 20.8rem;
          font-weight: 400;
          font-family: Noto Sans KR, 'Source Sans Pro';
          height: 2.6rem;
          left: 3rem;
        }
        .benefit-DQw {
          letter-spacing: -0.1rem;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          width: 22.5rem;
          left: 3rem;
          top: 28.6rem;
          font-weight: 500;
          line-height: 1.625;
          height: 2.6rem;
          position: absolute;
          font-size: 1.6rem;
          color: #000000;
        }
      }
      .group-18-uYf {
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 4rem 2.9rem 3rem;
        width: 32rem;

        .name-qhD {
          margin-bottom: 9.8rem;
          max-width: 25rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
        }
        .period-n6f {
          font-weight: 900;
          line-height: 1.625;
          color: #eb4335;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.3rem;
          font-size: 1.6rem;
        }
        .apply-jGo {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          letter-spacing: -0.2rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          margin-bottom: 2.6rem;
          max-width: 24.5rem;
        }
        .benefit-r6X {
          font-weight: 500;
          line-height: 1.625;
          letter-spacing: -0.1rem;
          color: #000000;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 8.1rem;
          font-size: 1.6rem;
        }
        .learn-more--P6T {
          font-weight: 800;
          line-height: 1.1875;
          color: #4ba87d;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.6rem;
        }
      }
    }
  }
}
