
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.group-13-595 {
  width: 100%;
  height: 74.4rem;
  position: relative;
}
.group-13-595 .image-1-QSF {
  width: 156rem;
  height: 71.6rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.group-13-595 .item--jDd {
  width: 11.6rem;
  height: 11.7rem;
  position: absolute;
  left: 22.425rem;
  top: 10.3rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.group-13-595 .image-2-A43 {
  width: 21.45rem;
  height: 21.7rem;
  position: absolute;
  left: 0.5417rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.group-13-595 .image-3-tkj {
  width: 21.45rem;
  height: 21.7rem;
  position: absolute;
  left: 55.2rem;
  top: 10.3rem;
  object-fit: cover;
  vertical-align: top;
}
