
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.login-BUF {
  padding: 4.2rem 4.3rem 5.706rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3rem;
  box-sizing: border-box;

  .menu-iUB {
    margin-bottom: 4.9rem;
    width: 100%;
    height: 7.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .hhru-logo-fPR {
      margin: 0rem 3.618rem 0.5rem 0rem;
      width: 6.9rem;
      height: 6.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .new-york-Q67 {
      border-bottom: solid 0.2rem #333333;
      box-sizing: border-box;
      margin: 2.467rem 4.713rem 2.159rem 0rem;
      height: calc(100% - 4.6261rem);
      font-size: 1.8rem;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 600;
      line-height: 1.2175;
      flex-shrink: 0;
    }
    .informations-HQo {
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.102rem 0.267rem 0rem;
      font-size: 1.8rem;
    }
    .community-bwH {
      flex-shrink: 0;
      margin: 0rem 62.103rem 0.267rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #333333;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .resume-button-XK9 {
      width: 19.2005rem;
      height: calc(100% - 3.0029rem);
      position: relative;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 1.501rem 1.56rem 1.501rem 0rem;

      .homepage-euZ {
        width: 8.7rem;
        height: 1.9rem;
        position: absolute;
        line-height: 1.2175;
        color: #333333;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        left: 5.1649rem;
        top: 1.0986rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .rectangle-4-Gg3 {
        height: 4.3971rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #333333;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 19.2005rem;
      }
    }
    .sing-in-button-PEs {
      height: calc(100% - 3.0029rem);
      font-size: 1.5rem;
      flex-shrink: 0;
      width: 12.4048rem;
      font-family: Montserrat, 'Source Sans Pro';
      display: flex;
      background-color: #d6001c;
      margin: 1.501rem 0rem 1.501rem 0rem;
      align-items: center;
      border-radius: 3rem;
      white-space: nowrap;
      line-height: 1.2175;
      color: #ffffff;
      justify-content: center;
      font-weight: 600;
    }
  }
  .group-17-EWP {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 8.091rem 0rem 7rem;
    width: calc(100% - 15.0911rem);
    height: 66.0939rem;
    display: flex;

    .image-4-Mb1 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 7.2rem 7.194rem 0rem;
      width: 72.5rem;
      height: 34.7rem;
      object-fit: cover;
    }
    .group-15-spF {
      width: 52.6089rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .auto-group-wpu2-pDh {
        top: 0;
        width: 25.4rem;
        height: 10.7rem;
        position: absolute;
        left: 0;

        .welcome-to-xao {
          width: 25.4rem;
          height: 5.7rem;
          position: absolute;
          font-weight: 400;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          top: 0;
          font-size: 4.8rem;
          line-height: 1.1725;
        }
        .item--UZ9 {
          left: 0;
          font-weight: 900;
          color: #d6001c;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 20.6rem;
          height: 5.7rem;
          font-size: 4.8rem;
          line-height: 1.1725;
          position: absolute;
          top: 5rem;
        }
      }
      .auto-group-nkgt-m2T {
        left: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 2.084rem 16.853rem 2.093rem 16.289rem;
        height: 6.7556rem;
        position: absolute;
        width: 52.453rem;
        top: 11.4989rem;
        display: flex;
        align-items: center;

        .google-icon-1-4XM {
          flex-shrink: 0;
          margin-right: 1.9064rem;
          width: 2.8041rem;
          height: 2.5784rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .login-with-google-oE3 {
          display: flex;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.75);
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0445rem;
          font-size: 1.8rem;
          line-height: 1.1725;
          white-space: nowrap;
        }
      }
      .auto-group-spjs-Ub5 {
        left: 0;
        top: 20.0512rem;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 2.049rem 17.853rem 1.907rem 16.2rem;
        height: 6.7556rem;
        position: absolute;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 52.453rem;
        display: flex;

        .image-5-aPD {
          flex-shrink: 0;
          margin-right: 1.9051rem;
          width: 2.8949rem;
          height: 2.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .login-with-naver-Ja7 {
          margin-bottom: 0.1rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.1725;
          color: rgba(0, 0, 0, 0.75);
          flex-shrink: 0;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-pwza-PbZ {
        position: absolute;
        left: 0.8573rem;
        top: 30.1127rem;
        border-top: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
        box-sizing: border-box;
        width: 51.5957rem;
        height: 0.1rem;
      }
      .auto-group-sgly-Usu {
        color: #000000;
        white-space: nowrap;
        padding: 1.811rem 3.195rem 1.667rem 3.195rem;
        width: 51.5957rem;
        position: absolute;
        font-size: 1.8rem;
        background-color: #f2f2f2;
        border-radius: 1.5rem;
        height: 5.6776rem;
        left: 1.0132rem;
        top: 35.1435rem;
        box-sizing: border-box;
        display: flex;
        font-family: Roboto, 'Source Sans Pro';
        font-weight: 700;
        line-height: 1.1725;
      }
      .auto-group-wcqq-vzo {
        left: 1.0132rem;
        top: 43.2646rem;
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        box-sizing: border-box;
        padding: 1.797rem 2.143rem 1.667rem 3.195rem;
        width: 51.5957rem;
        height: 5.6776rem;
        position: absolute;
        background-color: #f2f2f2;

        .user-password-STM {
          font-weight: 700;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.014rem 31.485rem 0rem 0rem;
          display: flex;
          font-size: 1.8rem;
        }
        .eye-1-8b5 {
          margin-bottom: 0.4891rem;
          width: 2.572rem;
          height: 1.7248rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-3yor-Ffh {
        color: #ffffff;
        white-space: nowrap;
        height: 5.6776rem;
        position: absolute;
        font-family: Roboto, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        left: 1.0132rem;
        top: 56.704rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 900;
        background-color: #6c63ff;
        width: 51.5957rem;
        line-height: 1.1725;
        border-radius: 0.8rem;
      }
      .or-ipB {
        height: 1.6rem;
        position: absolute;
        font-weight: 700;
        line-height: 1.1725;
        color: rgba(0, 0, 0, 0.6499999762);
        white-space: nowrap;
        width: 1.8rem;
        left: 25.7979rem;
        top: 27.8848rem;
        font-size: 1.3rem;
        font-family: Roboto, 'Source Sans Pro';
      }
      .item--dAT {
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.4rem;
        position: absolute;
        left: 36.7rem;
        top: 50.5rem;
        height: 1.8rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6499999762);
      }
      .group-14-VyM {
        width: 15.1557rem;
        height: 1.7rem;
        position: absolute;
        left: 35.6rem;
        top: 64.3938rem;
        display: flex;
        align-items: center;

        .item--d3y {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.256rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
        }
        .item--7zj {
          flex-shrink: 0;
          margin-bottom: 0rem;
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 1.1725;
          color: #d6001c;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
