
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.5rem;
}.group-21-5Tq {
  width: 100%;
  height: 19.7rem;
  border-radius: 0.8078rem;
}
.group-21-5Tq .group-20-dkF {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8078rem;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-YMR {
  margin-right: 5.2rem;
  width: 33.6rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-YMR .first-name--VXZ {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-YMR .auto-group-snbu-QuR {
  box-sizing: border-box;
  padding: 1.447rem 2.254rem 1.453rem 2.254rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-tpb {
  width: 33.7rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-tpb .last-name--Ff9 {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-21-5Tq .group-20-dkF .auto-group-7fby-C2f .eamilid-tpb .auto-group-nk63-ahR {
  box-sizing: border-box;
  padding: 1.447rem 2.261rem 1.453rem 2.261rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM {
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-2JX {
  margin-right: 5.2rem;
  width: 33.6rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-2JX .email--aaw {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-2JX .auto-group-nc9q-iSF {
  box-sizing: border-box;
  padding: 1.447rem 2.254rem 1.453rem 2.254rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-nS7 {
  width: 33.7rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-nS7 .mobile-num--k83 {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-21-5Tq .group-20-dkF .auto-group-ytxw-GKM .eamilid-nS7 .auto-group-hi8b-UZq {
  box-sizing: border-box;
  padding: 1.447rem 2.261rem 1.453rem 2.261rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
