
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.information-hM5 {
  box-sizing: border-box;
  padding: 4.2rem 4.3rem 9.9rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.information-hM5 .menu-Bn3 {
  margin-bottom: 8.1rem;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .hhru-logo-J5y {
  margin: 0rem 3.618rem 0.5rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .new-york-ccT {
  margin: 2.467rem 4.713rem 2.159rem 0rem;
  height: calc(100% - 4.6261rem);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.2rem #333333;
  box-sizing: border-box;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .informations-soH {
  margin: 0rem 4.102rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .community-A1h {
  margin: 0rem 62.103rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .resume-button-HMD {
  margin: 1.501rem 1.56rem 1.501rem 0rem;
  width: 19.2005rem;
  height: calc(100% - 3.0029rem);
  position: relative;
  border-radius: 3rem;
  flex-shrink: 0;
}
.information-hM5 .menu-Bn3 .resume-button-HMD .mypage-c8b {
  width: 6.3rem;
  height: 1.9rem;
  position: absolute;
  left: 6.1649rem;
  top: 1.0986rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .menu-Bn3 .resume-button-HMD .rectangle-4-iSX {
  width: 19.2005rem;
  height: 4.3971rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #333333;
  box-sizing: border-box;
  border-radius: 3rem;
}
.information-hM5 .menu-Bn3 .sing-in-button-qX9 {
  margin: 1.501rem 0rem 1.501rem 0rem;
  width: 12.4048rem;
  height: calc(100% - 3.0029rem);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6001c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR {
  margin: 0rem 14.8rem 7.7rem 14.9rem;
  width: calc(100% - 29.7rem);
  height: 44.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 {
  margin-right: 10.5rem;
  width: 32rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 .learn-more--ijM {
  width: 9.6rem;
  height: 1.9rem;
  position: absolute;
  left: 3rem;
  top: 39.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 .name-NZ1 {
  width: 24.2rem;
  height: 7.8rem;
  position: absolute;
  left: 3rem;
  top: 2.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 .period-GPV {
  width: 19.7rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 17.9rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 .apply-m5M {
  width: 17.9rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 20.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-m7mu-tVR .group-18-Cm1 .benefit-Gno {
  width: 23.9rem;
  height: 5.2rem;
  position: absolute;
  left: 3rem;
  top: 28.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j {
  margin-right: 11.2rem;
  box-sizing: border-box;
  padding: 2.9rem 4.3rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j .name-6hH {
  margin-bottom: 7.2rem;
  max-width: 24.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j .period-c9q {
  margin: 0rem 5rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j .apply-8dy {
  max-width: 24.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j .benefit-TgF {
  margin: 0rem 0.3rem 5.5rem 0rem;
  max-width: 24.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .auto-group-q395-72j .learn-more--nCj {
  margin-right: 15.1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX {
  box-sizing: border-box;
  padding: 2.9rem 4.1rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX .name-XpX {
  margin: 0rem 0.6rem 4.6rem 0rem;
  max-width: 24.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX .period-p2w {
  margin: 0rem 5.3rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX .apply-8pK {
  margin-bottom: 2.6rem;
  max-width: 24.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX .benefit-G9q {
  margin: 0rem 0.4rem 8.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-m7mu-tVR .group-19-9Lo .group-18-fGX .learn-more--ya3 {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo {
  margin: 0rem 14.8rem 8.7rem 14.9rem;
  width: calc(100% - 29.7rem);
  height: 44.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo {
  margin-right: 10.5rem;
  box-sizing: border-box;
  padding: 2.9rem 4.4rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo .name-NEo {
  margin-bottom: 9.8rem;
  max-width: 24.6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo .period-U2w {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo .apply-oqu {
  margin-bottom: 2.6rem;
  max-width: 24.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo .benefit-wBR {
  margin-bottom: 8.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-cdss-vNo .group-18-eJo .learn-more--ebd {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR {
  margin-right: 11.2rem;
  box-sizing: border-box;
  padding: 2.9rem 4.3rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR .name-SXV {
  margin-bottom: 4.6rem;
  max-width: 24.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR .period-wUF {
  margin: 0rem 5rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR .apply-s71 {
  margin: 0rem 0.2rem 2.6rem 0rem;
  max-width: 24.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR .benefit-NJf {
  margin: 0rem 1.1rem 8.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .auto-group-j1tx-XfR .learn-more--rzX {
  margin-right: 15.1rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 {
  box-sizing: border-box;
  padding: 2.9rem 4rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 .name-5sH {
  margin-bottom: 7.2rem;
  max-width: 25rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 .period-DTh {
  margin: 0rem 5.3rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 .apply-84s {
  margin: 0rem 0.6rem 2.6rem 0rem;
  max-width: 24.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 .benefit-R3y {
  margin: 0rem 0.2rem 5.5rem 0rem;
  max-width: 24.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  flex-shrink: 0;
}
.information-hM5 .auto-group-cdss-vNo .group-19-mRM .group-18-Ze3 .learn-more--j4f {
  margin-right: 15.4rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT {
  margin: 0rem 14.8rem 0rem 14.9rem;
  width: calc(100% - 29.7rem);
  height: 44.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 {
  margin-right: 10.5rem;
  width: 32rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 .learn-more--rHh {
  width: 9.6rem;
  height: 1.9rem;
  position: absolute;
  left: 3rem;
  top: 39.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 .name-kts {
  width: 24.9rem;
  height: 5.2rem;
  position: absolute;
  left: 3rem;
  top: 2.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 .period-dSs {
  width: 19.7rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 17.9rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 .apply-L6P {
  width: 24.3rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 20.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-18-M63 .benefit-ESf {
  width: 24.4rem;
  height: 5.2rem;
  position: absolute;
  left: 3rem;
  top: 28.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m {
  margin-right: 11.2rem;
  width: 32rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m .learn-more--bRd {
  width: 9.6rem;
  height: 1.9rem;
  position: absolute;
  left: 3rem;
  top: 39.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m .name-W2o {
  width: 25rem;
  height: 7.8rem;
  position: absolute;
  left: 3rem;
  top: 2.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m .period-nm1 {
  width: 19.7rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 17.9rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m .apply-tZ9 {
  width: 17.8rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 20.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .auto-group-19mm-g3m .benefit-Ytb {
  width: 22.5rem;
  height: 2.6rem;
  position: absolute;
  left: 3rem;
  top: 28.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw {
  box-sizing: border-box;
  padding: 2.9rem 4rem 2.9rem 3rem;
  width: 32rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw .name-xxK {
  margin-bottom: 9.8rem;
  max-width: 25rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw .period-u6s {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625;
  color: #eb4335;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw .apply-qmD {
  margin-bottom: 2.6rem;
  max-width: 24.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.2rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw .benefit-MDm {
  margin-bottom: 8.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Noto Sans KR, 'Source Sans Pro';
  white-space: nowrap;
}
.information-hM5 .auto-group-ny1h-2pT .group-19-uoh .group-18-eAw .learn-more--tjV {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.1875;
  color: #4ba87d;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
