
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.login-U75 {
  box-sizing: border-box;
  padding: 4.2rem 4.3rem 5.706rem 4.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-U75 .menu-QWX {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .hhru-logo-Xr3 {
  margin: 0rem 3.618rem 0.5rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .new-york-evf {
  margin: 2.467rem 4.713rem 2.159rem 0rem;
  height: calc(100% - 4.6261rem);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.2rem #333333;
  box-sizing: border-box;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .informations-LYb {
  margin: 0rem 4.102rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .community-T7R {
  margin: 0rem 62.103rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .resume-button-xps {
  margin: 1.501rem 1.56rem 1.501rem 0rem;
  width: 19.2005rem;
  height: calc(100% - 3.0029rem);
  position: relative;
  border-radius: 3rem;
  flex-shrink: 0;
}
.login-U75 .menu-QWX .resume-button-xps .mypage-6RH {
  width: 6.3rem;
  height: 1.9rem;
  position: absolute;
  left: 5.9649rem;
  top: 1.0986rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.login-U75 .menu-QWX .resume-button-xps .rectangle-4-1YF {
  width: 19.2005rem;
  height: 4.3971rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #333333;
  box-sizing: border-box;
  border-radius: 3rem;
}
.login-U75 .menu-QWX .sing-in-button-8cs {
  margin: 1.501rem 0rem 1.501rem 0rem;
  width: 12.4048rem;
  height: calc(100% - 3.0029rem);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6001c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR {
  margin: 0rem 8.091rem 0rem 7rem;
  width: calc(100% - 15.0911rem);
  height: 66.0939rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .image-4-4ew {
  margin: 0rem 7.2rem 7.194rem 0rem;
  width: 72.5rem;
  height: 34.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB {
  width: 52.6089rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-umcf-Kas {
  width: 25.4rem;
  height: 10.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-umcf-Kas .welcome-to-fej {
  width: 25.4rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-umcf-Kas .item--mBy {
  width: 20.6rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 5rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #d6001c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-2cts-NSf {
  box-sizing: border-box;
  padding: 2.084rem 16.853rem 2.093rem 16.289rem;
  width: 52.453rem;
  height: 6.7556rem;
  position: absolute;
  left: 0;
  top: 11.4989rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-2cts-NSf .google-icon-1-5M5 {
  margin-right: 1.9064rem;
  width: 2.8042rem;
  height: 2.5784rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-2cts-NSf .login-with-google-1Ej {
  margin-bottom: 0.0445rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.75);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-1l4b-sGw {
  box-sizing: border-box;
  padding: 2.049rem 17.853rem 1.907rem 16.2rem;
  width: 52.453rem;
  height: 6.7556rem;
  position: absolute;
  left: 0;
  top: 20.0512rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-1l4b-sGw .image-5-aBM {
  margin-right: 1.9051rem;
  width: 2.8949rem;
  height: 2.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-1l4b-sGw .login-with-naver-tSw {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.75);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-dekm-Bgw {
  width: 51.5957rem;
  height: 0.1rem;
  position: absolute;
  left: 0.8573rem;
  top: 30.1127rem;
  border-top: solid 0.1rem rgba(0, 0, 0, 0.6499999762);
  box-sizing: border-box;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-enmz-VBq {
  box-sizing: border-box;
  padding: 1.811rem 3.195rem 1.667rem 3.195rem;
  width: 51.5957rem;
  height: 5.6776rem;
  position: absolute;
  left: 1.0132rem;
  top: 35.1435rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-bvyb-iKV {
  box-sizing: border-box;
  padding: 1.797rem 2.143rem 1.667rem 3.195rem;
  width: 51.5957rem;
  height: 5.6776rem;
  position: absolute;
  left: 1.0132rem;
  top: 43.2646rem;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-bvyb-iKV .user-password-1pP {
  margin: 0.014rem 31.485rem 0rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-bvyb-iKV .eye-1-Hmu {
  margin-bottom: 0.4891rem;
  width: 2.572rem;
  height: 1.7248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .auto-group-hrrq-R7R {
  width: 51.5957rem;
  height: 5.6776rem;
  position: absolute;
  left: 1.0132rem;
  top: 56.704rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #6c63ff;
  border-radius: 0.8rem;
}
.login-U75 .group-17-wKR .group-15-atB .or-uHV {
  width: 1.8rem;
  height: 1.6rem;
  position: absolute;
  left: 25.7979rem;
  top: 27.8848rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.6499999762);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.login-U75 .group-17-wKR .group-15-atB .item--yo9 {
  width: 9.4rem;
  height: 1.8rem;
  position: absolute;
  left: 36.7rem;
  top: 50.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.6499999762);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.login-U75 .group-17-wKR .group-15-atB .group-14-Ej5 {
  width: 15.1556rem;
  height: 1.7rem;
  position: absolute;
  left: 35.6rem;
  top: 64.3938rem;
  display: flex;
  align-items: center;
}
.login-U75 .group-17-wKR .group-15-atB .group-14-Ej5 .item--NaP {
  margin: 0rem 4.256rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-U75 .group-17-wKR .group-15-atB .group-14-Ej5 .item--sGF {
  margin-bottom: 0rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #d6001c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
