a:link{color:#333333; text-decoration: none}
a:visited{color: #333333;text-decoration: none}
a:hover{color : red;text-decoration: none}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 156rem;
}.mypage-MnK {
  box-sizing: border-box;
  padding: 4.2rem 4.3rem 5.9rem 4.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mypage-MnK .menu-GuH {
  margin-bottom: 4.1rem;
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .hhru-logo-QEo {
  margin: 0rem 3.618rem 0.5rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .new-york-j2B {
  margin: 2.467rem 4.713rem 2.159rem 0rem;
  height: calc(100% - 4.6261rem);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.2rem #333333;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .informations-YVR {
  margin: 0rem 4.102rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .community-4if {
  margin: 0rem 62.103rem 0.267rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .resume-button-NzF {
  margin: 1.501rem 1.56rem 1.501rem 0rem;
  width: 19.2005rem;
  height: calc(100% - 3.0029rem);
  position: relative;
  border-radius: 3rem;
  flex-shrink: 0;
}
.mypage-MnK .menu-GuH .resume-button-NzF .mypage-UnP {
  width: 6.3rem;
  height: 1.9rem;
  position: absolute;
  left: 5.9649rem;
  top: 1.0986rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #333333;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-MnK .menu-GuH .resume-button-NzF .rectangle-4-yDM {
  width: 19.2005rem;
  height: 4.3971rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #333333;
  box-sizing: border-box;
  border-radius: 3rem;
}
.mypage-MnK .menu-GuH .sing-in-button-635 {
  margin: 1.501rem 0rem 1.501rem 0rem;
  width: 12.4048rem;
  height: calc(100% - 3.0029rem);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6001c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.mypage-MnK .item--kNX {
  margin: 0rem 0rem 3.2rem 5rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.1725;
  color: #d6001c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j {
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: 49.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo {
  margin-right: 5.8rem;
  width: 72.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 19.7rem;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8078rem;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-93H {
  margin-right: 5.2rem;
  width: 33.6rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-93H .first-name--5Sj {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-93H .auto-group-3k6t-Bkf {
  box-sizing: border-box;
  padding: 1.447rem 2.254rem 1.453rem 2.254rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-55M {
  width: 33.7rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-55M .last-name--Ruu {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-gbf9-C83 .eamilid-55M .auto-group-zrvb-ZmD {
  box-sizing: border-box;
  height:16.5rem;
  padding: 1.447rem 2.261rem 1.453rem 2.261rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo {
  width: 100%;
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-vVH {
  margin-right: 5.2rem;
  width: 33.6rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-vVH .email--G3M {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-vVH .auto-group-w7o1-o3H {
  box-sizing: border-box;
  padding: 1.447rem 2.254rem 1.453rem 2.254rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-U9R {
  width: 33.7rem;
  height: 100%;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-U9R .mobile-num--E8b {
  margin-bottom: 0.9rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .group-21-gQb .group-20-dqd .auto-group-qbpz-2eo .eamilid-U9R .auto-group-wfpr-Kfq {
  box-sizing: border-box;
  padding: 1.447rem 2.261rem 1.453rem 2.261rem;
  width: 100%;
  font-size: 1.4136rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .eamilid-PQo {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .eamilid-PQo .item--McX {
  margin-bottom: 1.9368rem;
  font-size: 1.6156rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .group-24-wxo .eamilid-PQo .rectangle-9-EwD {
  width: 46%;
  height: 23.6632rem;
  background-color: #eeeeee;
  border-radius: 0.8078rem;
  flex-shrink: 0;
}
.mypage-MnK .auto-group-vuhd-36j .image-6-ZyV {
  margin-top: 0.6rem;
  width: 64.1rem;
  height: 38.7rem;
  position: relative;
  background-size: 141.831% 169.444%;
  background-position: -14.946rem -16.9611rem;
  background-image: url('./image/image-6.png');
  flex-shrink: 0;
}