<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="/css/group-2.css"/>
</head>
<body>
<div class="group-2-Wm9">
  <div class="auto-group-4xa7-ra7">
    <div class="eamilid-Cts">
      <p class="first-name--WPm">이름 (First Name) :</p>
      <div class="auto-group-24yq-DZ5">Enter your name..</div>
    </div>
    <div class="eamilid-Uzo">
      <p class="last-name--Ej5">성 (Last Name) :</p>
      <div class="auto-group-cnuq-Acj">Enter your name..</div>
    </div>
  </div>
  <div class="auto-group-8jq5-EsV">
    <div class="eamilid-msR">
      <p class="email--j3Z">이메일 (Email):</p>
      <div class="auto-group-2f2j-ewD">info@xyz.com</div>
    </div>
    <div class="eamilid-97H">
      <p class="mobile-num--HjH">전화번호 (Mobile Num)  :</p>
      <div class="auto-group-siwu-bEB">+91 - 98596 58000</div>
    </div>
  </div>
  <div class="auto-group-83zb-rA7">
    <div class="eamilid-yEj">
      <p class="password--vQs">비밀번호 (Password) :</p>
      <div class="auto-group-xw3y-41H">xxxxxxxxxx</div>
    </div>
    <div class="eamilid-jt7">
      <p class="confirm-password--W8B">비밀번호 재확인 (Confirm Password)  :</p>
      <div class="auto-group-53mu-qAT">xxxxxxxxxx</div>
    </div>
  </div>
</div>
</body>