<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 21</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="/css/group-21.css"/>
</head>
<body>
<div class="group-21-5Tq">
  <div class="group-20-dkF">
    <div class="auto-group-7fby-C2f">
      <div class="eamilid-YMR">
        <p class="first-name--VXZ">이름 (First Name) :</p>
        <div class="auto-group-snbu-QuR">Enter your name..</div>
      </div>
      <div class="eamilid-tpb">
        <p class="last-name--Ff9">성 (Last Name) :</p>
        <div class="auto-group-nk63-ahR">Enter your name..</div>
      </div>
    </div>
    <div class="auto-group-ytxw-GKM">
      <div class="eamilid-2JX">
        <p class="email--aaw">이메일 (Email):</p>
        <div class="auto-group-nc9q-iSF">info@xyz.com</div>
      </div>
      <div class="eamilid-nS7">
        <p class="mobile-num--k83">전화번호 (Mobile Num)  :</p>
        <div class="auto-group-hi8b-UZq">+82 10 1234 5678</div>
      </div>
    </div>
  </div>
</div>
</body>