<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>home</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A600%2C900"/>
  <link rel="stylesheet" href="./styles/home.css"/>
</head>
<body>
<div class="home-x6w">
  <div class="menu-dym">
    <img class="hhru-logo-yXq" src="./assets/hhru-logo-9gw.png"/>
    <div class="new-york-gh9">Mentoring</div>
    <p class="informations-5DV">Informations</p>
    <p class="community-avw">Community</p>
    <div class="resume-button-i1Z">
      <div class="mypage-3Jj">Mypage</div>
      <div class="rectangle-4-YmH">
      </div>
    </div>
    <div class="sing-in-button-Eu1">Sign In</div>
  </div>
  <div class="group-23-UYT">
    <div class="auto-group-cfek-a5h">
      <img class="image-2-gPd" src="./assets/image-2.png"/>
      <p class="item--QaX">
      청춘은
      <br/>
      
      </p>
    </div>
    <p class="item--6TM">도전이다</p>
    <div class="image-3-1aK">
    </div>
  </div>
</div>
</body>