<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Information</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway%3A800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR%3A400%2C500%2C700%2C900"/>
  <link rel="stylesheet" href="/css/information.css"/>
</head>
<body>
<div class="information-Y6f">
  <div class="menu-Sxj">
    <img class="hhru-logo-PNB" src="/image/hhru-logo.png"/>
    <div class="new-york-UuR"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
    <p class="informations-sgf"><a href="http://localhost:8080/information">Informations</a></p>
    <p class="community-ZJb"><a href="http://localhost:8080/community">Community</a></p>
    <div class="resume-button-eqq">
      <div class="mypage-8FD"><a href="http://localhost:8080/myPage">MyPage</a></div>
      <div class="rectangle-4-REK">
      </div>
    </div>
    <div class="sing-in-button-7cw"><a href="http://localhost:8080/loginPage">Sign In</a></div>
  </div>
  <div class="auto-group-avbr-Yy9">
    <div class="group-18-S2w">
      <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082646"><p class="learn-more--mL7">Read More &gt;</p></a>
      <p class="name-rsM">2022년 2기 이노스트 챌린지 그라운드 모집 공고(그린스타트업타운 액셀러레이팅 프로그램)</p>
      <p class="period-NKu">2022-12-26 ~ 2023-01-16</p>
      <p class="apply-h7H">GST 특화분야 업력 7년 이내 창업기업</p>
      <p class="benefit-B2T">인큐베이팅, 액셀러레이팅, IR 피칭 교육 등 지원</p>
    </div>
    <div class="group-19-3KZ">
      <div class="auto-group-ghd5-CiF">
        <p class="name-JmH">[경남] 김해시 청년창업 허그(HuG) 사업 참여기업 모집 공고(청년 이주정착 지원사업)</p>
        <p class="period-Rqu">2023-01-02 ~ 2023-01-20</p>
        <p class="apply-MUf">김해시 소재 창업 3년 이하의 청년 초기창업자 ※ 단, 대표자가 김해에 거주하나 사업장이 타지역인 경우, 김해로 이전시 신청가능</p>
        <p class="benefit-eyZ">김해시장상, 진흥원 및 협력기관상 시상, 사업화 자금 및 공간 임대료 등 지원</p>
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082632"><p class="learn-more--whm">Read More &gt;</p></a>
      </div>
      <div class="group-18-FTZ">
        <p class="name-B6K">[울산] U-SPACE 창업기업 사업화 지원사업 수요기업 4차 모집 공고(메이커 스페이스 구축ㆍ운영사업)</p>
        <p class="period-H9M">2022-12-27 ~ 2023-01-09</p>
        <p class="apply-n67">울산 지역 내 제조 관련 전 산업 분야 (예비)창업자 및 창업 7년 이내 스타트업ㆍ중소기업</p>
        <p class="benefit-6sV">제품화, 소프트 목업(외형제작), SNS 마케팅 지원</p>
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082628"><p class="learn-more--2FM">Read More &gt;</p></a>
      </div>
    </div>
  </div>
  <div class="auto-group-xec3-i8B">
    <div class="group-18-cjM">
      <p class="name-8hh">2023년 생애최초 청년창업 지원사업 주관기관 모집 공고</p>
      <p class="period-STV">2022-12-22 ~ 2023-01-11</p>
      <p class="apply-nGT">청년 예비창업자를 지원할 인적ㆍ물적 역량 및 인프라를 보유한 공공 및 민간기관, 대학 등</p>
      <p class="benefit-KGP">창업프로그램 운영비, 전담조직 운영비 지원</p>
      <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082591"><p class="learn-more--TdV">Read More &gt;</p></a>
    </div>
    <div class="group-19-P1M">
      <div class="auto-group-rtjb-9WK">
        <p class="name-Tmu">[강원] 원주시 2023년 청년 성공창업 플러스 지원사업 청년 창업자 모집 공고(지역주도형 청년일자리사업(상생기반대응형))</p>
        <p class="period-b7R">2022-12-26 ~ 2023-01-13</p>
        <p class="apply-vQb">원주시에 사업장을 두고 있는 사업자등록 7년 이내의 만 39세 이하의 청년 창업가</p>
        <p class="benefit-SNw">시제품제작비, 점포임대료, 청년 인건비 등 지원</p>
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082559"><p class="learn-more--mAK">Read More &gt;</p></a>
      </div>
      <div class="group-18-5B1">
        <p class="name-Zby">[제주] 2023년 1차 청년 로컬창업 드림밸리 사업 참여기업 모집 공고(지역주도형 청년일자리사업)</p>
        <p class="period-hCP">2022-12-20 ~ 2023-01-03</p>
        <p class="apply-d63">제주특별자치도에 소재지를 둔 기업 중 창업 7년 이내 청년 로컬 창업가</p>
        <p class="benefit-WvX">시제품제작, 마케팅, 연구개발, 컨설팅, 인건비 등 지원</p>
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082544"><p class="learn-more--1cP">Read More &gt;</p></a>
      </div>
    </div>
  </div>
  <div class="auto-group-asrr-7vK">
    <div class="group-18-TDV">
      <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082610"><p class="learn-more--NrF">Read More &gt;</p></a>
      <p class="name-VR5">2022년 청년창업 지역정착 지원사업 참여자 3차 추가모집 공고</p>
      <p class="period-bj1">2022-12-26 ~ 2023-01-16</p>
      <p class="apply-VZV">경상북도 외에 주소를 둔 만 19세 이상 만 39세 이하의 청년</p>
      <p class="benefit-zFM">사업화자금, 교육 및 멘토링, 판로지원 및 사후관리 등 지원</p>
    </div>
    <div class="group-19-gP5">
      <div class="auto-group-xsjw-St3">
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082592"><p class="learn-more--mQX">Read More &gt;</p></a>
        <p class="name-To9">[경기] 수원대학교 메이커스페이스 WoW! IR데모데이 지원사업 참가기업 모집 공고</p>
        <p class="period-n4j">2022-12-22 ~ 2022-12-30</p>
        <p class="apply-JHy">경기도내 업력 7년 미만의 제조분야 기업</p>
        <p class="benefit-DQw">IR 컨설팅 및 피치덱 제작, IR 데모데이 등 지원</p>
      </div>
      <div class="group-18-uYf">
        <p class="name-qhD">2023년 공공기술 창업사업화 지원사업 주관기관 모집 공고</p>
        <p class="period-n6f">2022-12-22 ~ 2023-01-11</p>
        <p class="apply-jGo">기술이전ㆍ창업기업 지원역량을 보유한 대학, 공공기관, 민관기관(단체) 등</p>
        <p class="benefit-r6X">창업프로그램 운영비, 전담조직 운영비 지원</p>
        <a href="https://www.bizinfo.go.kr/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancId=PBLN_000000000082571"><p class="learn-more--P6T">Read More &gt;</p></a>
      </div>
    </div>
  </div>
</div>
</body>