<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="login-U75">
  <div class="menu-QWX">
    <a href="http://localhost:8080"><img class="hhru-logo-Xr3" src="/image/hhru-logo-ubR.png"/></a>
    <div class="new-york-evf"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
    <p class="informations-LYb"><a href="http://localhost:8080/information">Informations</a></p>
    <p class="community-T7R"><a href="http://localhost:8080/community">Community</a></p>
    <div class="resume-button-xps">
      <a href="http://localhost:8080/mypage">
      <div class="mypage-6RH">MyPage</div>
      <div class="rectangle-4-1YF">
      </div>
      </a>
    </div>
    <div class="sing-in-button-8cs"><a href="http://localhost:8080/loginPage">Sign In</a></div>
  </div>
  <div class="group-17-wKR">
    <img class="image-4-4ew" src="/image/image-4.png"/>
    <div class="group-15-atB">
      <div class="auto-group-umcf-Kas">
        <p class="welcome-to-fej">Welcome to</p>
        <p class="item--mBy">청춘은 도전이다.</p>
      </div>
      <div class="auto-group-2cts-NSf">
        <img class="google-icon-1-5M5" src="/image/google-icon-1.png"/>
        <div class="login-with-google-1Ej"><a href="/oauth2/authorization/google">Login with Google</a></div>
      </div>
      <div class="auto-group-1l4b-sGw">
        <img class="image-5-aBM" src="/image/image-5.png"/>
        <div class="login-with-naver-tSw"><a href="/oauth2/authorization/naver">Login with Naver</a></div>
      </div>
      <div class="auto-group-dekm-Bgw">
      </div>
      <div class="auto-group-enmz-VBq">User Email</div>
      <div class="auto-group-bvyb-iKV">
        <div class="user-password-1pP">User Password</div>
        <img class="eye-1-Hmu" src="/image/eye-1.png"/>
      </div>
      <div class="auto-group-hrrq-R7R">로그인</div>
      <p class="or-uHV">    OR</p>
      <p class="item--yo9">비밀번호를 잊으셨나요?</p>
      <div class="group-14-Ej5">
        <p class="item--NaP">계정이 없으신가요? </p>
        <p class="item--sGF">회원가입</p>
      </div>
    </div>
  </div>
</div>
</body>