<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700%2C800%2C900"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="login-PhM">
  <div class="menu-77Z">
    <img class="hhru-logo-pXm" src="/Users/yujin/Documents/비교과/교외/Kocothon/Cokothon_Project/Youth-is-Challenge-BE/src/main/resources/templates/assets/hhru-logo-cio.png"/>
    <div class="new-york-M1u">Mentoring</div>
    <p class="informations-283">Informations</p>
    <p class="community-9Cf">Community</p>
    <div class="resume-button-gCb">
      <div class="mypage-CRq">MyPage</div>
      <div class="rectangle-4-VA3">
      </div>
    </div>
    <div class="sing-in-button-C4T">Sign In</div>
  </div>
  <div class="group-17-RC7">
    <img class="image-4-LK5" src="./assets/image-4.png"/>
    <div class="group-15-Fgw">
      <div class="auto-group-fqnk-x5Z">
        <p class="welcome-to-kXD">Welcome to</p>
        <p class="item--2zX">청춘은 도전이다.</p>
      </div>
      <div class="auto-group-vugp-WPu">
        <img class="google-icon-1-QVH" src="./assets/google-icon-1-3zB.png"/>
        <a href="/oauth2/authorization/google" class="login-with-google-wVD">Login with Google</a>
      </div>
      <div class="auto-group-hcao-Qdh">
        <img class="image-5-Vv3" src="./assets/image-5.png"/>
        <a href="/oauth2/authorization/naver" class="login-with-naver-Esd">Login with Naver</a>
      </div>
      <div class="auto-group-xvhh-Xbq">
      </div>
      <div>
          <input type="text" placeholder="User Email" style="font-size:20px;" class="auto-group-1rl3-d95"/>
      </div>
      <div class="auto-group-czh9-ztj">
          <input type= "password" placeholder="User Password" style="font-size:20px;" class="user-password-6gs"/>
      </div>
      <div class="auto-group-tkjr-6qH">로그인</div>
      <p class="or-ZTy">    OR</p>
      <p class="item--4vX">비밀번호를 잊으셨나요?</p>
      <div class="group-14-YKu">
        <p class="item--sNB">계정이 없으신가요? </p>
        <p class="item--8ou">회원가입</p>
      </div>
    </div>
  </div>
</div>
</body>