<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mentoring_3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A600"/>
  <link rel="stylesheet" href="/css/mentoring3.css"/>
</head>
<body>
<div class="mentoring3-hFh">
  <div class="menu-opX">
    <img class="hhru-logo-MLF" src="/image/hhru-logo-NxT.png"/>
    <div class="new-york-sJb">Mentoring</div>
    <p class="informations-iq1">Informations</p>
    <p class="community-bto">Community</p>
    <div class="resume-button-JHR">
      <div class="mypage-dKh">Mypage</div>
      <div class="rectangle-4-JAw">
      </div>
    </div>
    <div class="sing-in-button-1LF">Sign In</div>
  </div>
</div>
</body>