<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mentoring_2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="/css/mentoring2.css"/>
</head>
<body>
<div class="mentoring2-aYB">
  <div class="menu-9jh">
    <img class="hhru-logo-fzs" src="/image/hhru-logo-Tns.png"/>
    <div class="new-york-8dZ">Mentoring</div>
    <p class="informations-jtF">Informations</p>
    <p class="community-EKD">Community</p>
    <div class="resume-button-MPq">
      <div class="mypage-4Z9">Mypage</div>
      <div class="rectangle-4-smV">
      </div>
    </div>
    <div class="sing-in-button-wFZ">Sign In</div>
  </div>
  <div class="frame-1-kD1">
    <div class="ellipse-1-Ets">
    </div>
    <div class="auto-group-gvdz-HMM">
      <p class="item--b79">장혜지 멘토</p>
      <p class="item--geP">
      멘토에 대한 설명
      <br/>
      어쩌구 저쩌구
      <br/>
      그렇답니다
      <br/>
      뭐 그런내용이 들어가 있는 그런거죠
      <br/>
      아시겠죠
      <br/>
      ㅎㅎㅎㅎㅎㅎㅎ 잘 넣어주세요
      </p>
      <div class="auto-group-xffq-EZR">
        <div class="sing-in-button-YKD">신청하기</div>
        <div class="sing-in-button-Zk7">방문하기</div>
      </div>
    </div>
    <div class="resume-button-bRu">
      <p class="item--uxP">멘토링 가능</p>
      <div class="rectangle-4-o2B">
      </div>
    </div>
  </div>
  <p class="item--tZR">멘토 소개</p>
  <div class="auto-group-vxxz-zcT">
    <div class="line-3-j4F">
    </div>
    <p class="item--ref">가능 시간대</p>
    <div class="line-4-jiT">
    </div>
    <p class="item--Ev7">
    알아서 적어봐주기~
    <br/>
    나는 모른다~
    <br/>
    알아서
    <br/>
    잘
    <br/>
    하는
    <br/>
    알잘딱깔센
    <br/>
    부탁해
    </p>
    <div class="tasks-container-fkX">
      <div class="header-MdM">
        <div class="week-SPu">Week</div>
        <div class="sun-KTh">
        14
        <br/>
        Sun
        </div>
        <div class="mon-p9Z">
        15
        <br/>
        Mon
        </div>
        <div class="tue-active-k3D">
        16
        <br/>
        Tue
        </div>
        <div class="wed-GXM">
        17
        <br/>
        Wed
        </div>
        <div class="thu-bJj">
        18
        <br/>
        Thu
        </div>
        <div class="fri-WRh">
        19
        <br/>
        Fri
        </div>
        <div class="sat-Ecb">
        20
        <br/>
        Sat
        </div>
      </div>
      <div class="schedule-Y7V">
        <div class="time-H55">
          <div class="item-09-00-Chq">09:00</div>
          <div class="item-10-00-JXu">10:00</div>
          <div class="item-11-00-EAf">11:00</div>
          <div class="item-12-00-WP5">12:00</div>
          <div class="item-13-00-3P1">13:00</div>
          <div class="item-14-00-YqZ">14:00</div>
          <div class="item-15-00-gwm">15:00</div>
          <div class="item-16-00-mTR">16:00</div>
          <div class="item-17-00-i7m">17:00</div>
          <div class="item-18-00-DaK">18:00</div>
        </div>
        <div class="frame-3-kaF">
          <div class="horizontal-grid-6u1">
            <div class="line-2-xAX">
            </div>
            <div class="line-3-Tsy">
            </div>
            <div class="line-4-R47">
            </div>
            <div class="line-5-KfH">
            </div>
            <div class="line-6-eBm">
            </div>
            <div class="line-7-zWX">
            </div>
            <div class="line-8-98X">
            </div>
            <div class="line-9-tro">
            </div>
            <div class="line-7-eqy">
            </div>
          </div>
          <div class="body-BL7">
            <div class="bg-14F">
            </div>
            <div class="item-12-30-13-50-HGf">12:30 - 13:50</div>
            <div class="item--yfH">국민대 멘토링</div>
          </div>
          <div class="body-Fco">
            <div class="bg-NBd">
            </div>
            <div class="item-10-30-11-50-W2w">10:30 - 11:50</div>
            <div class="item--aYb">뉴진스 멘토링</div>
          </div>
          <div class="body-GAX">
            <div class="bg-NUT">
            </div>
            <div class="item-09-00-10-20-6vF">09:00 - 10:20</div>
            <div class="item--p5Z">문유진 멘토링</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>