<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mentoring_2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="/css/mentoring2.css"/>
</head>
<body>
<div class="mentoring2-vG3">
  <div class="menu-uNs">
    <a href="http://localhost:8080"><img class="hhru-logo-ZkF" src="/image/hhru-logo-3ZV.png"/></a>
    <div class="new-york-3fR"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
    <p class="informations-fB1"><a href="http://localhost:8080/information">Informations</a></p>
    <p class="community-w8X"><a href="http://localhost:8080/community">Community</a></p>
    <div class="resume-button-FQ7">
      <a href="http://localhost:8080/myPage">
        <div class="mypage-hmu">MyPage</div>

        <div class="rectangle-4-AQb">

        </div>
      </a>
    </div>
    <div class="sing-in-button-cXV"><a href="http://localhost:8080/loginPage">Sign In</a></div>
  </div>
  <div class="frame-1-FaT">
    <div class="ellipse-1-MNb">
    </div>
    <div class="group-22-zwM">
      <div class="auto-group-owfq-VdD">
        <p class="item--RWs">장혜지 멘토</p>
        <div class="resume-button-uS3">
          <p class="item--Qdh">멘토링 가능</p>
          <div class="rectangle-4-DNB">
          </div>
        </div>
      </div>
      <div class="auto-group-p4rf-shd">
        <div class="sing-in-button-Pfy"><a href="http://localhost:8080/mentoring3">신청하기</a></div>
        <div class="sing-in-button-sb9">방문하기</div>
      </div>
    </div>
  </div>
  <p class="item--GNP">멘토 소개</p>
  <div class="auto-group-nd7z-AyZ">
    <div class="line-3-gh1">
    </div>
    <p class="item--R8o">가능 시간대</p>
    <div class="line-4-iNo">
    </div>
    <p class="lg-cto-sw--qCX">인공지능 분야로 박사 학위를 받고, LG전자, 신한은행을 거쳐, 자이냅스 스타트업에서 CTO로 있는 장혜지입니다. 현재 SW마에스트로 멘토로도 활동하고 있으며, 더이노베이터스 엑셀러레이터에서 기술전문 파트너로도 활동하고 있습니다. 그외에도 다양한 활동을하고 있습니다.</p>
    <p class="item--K1D">멘토링 방법</p>
    <div class="line-5-nQb">
    </div>
    <p class="item--vFu">
      1. 멘토의 멘토링 상태 확인하고 멘토링 신청 버튼 클릭
      <br/>
      2. 만남 일정과 정보를 작성하고 제출
      <br/>
      3. 마이페이지에서 만남 상태 확인 가능
      <br/>
      4. 멘토링이 확정, 취소되면 멘티에게 알림 메일 발송
      <br/>
      5. 장소협의 후 만남 일정 시간에 멘토링 진행
    </p>
    <div class="tasks-container-ytP">
      <div class="header-25y">
        <div class="week-XYX">Week</div>
        <div class="sun-DRM">
          14
          <br/>
          Sun
        </div>
        <div class="mon-8HR">
          15
          <br/>
          Mon
        </div>
        <div class="tue-active-4B5">
          16
          <br/>
          Tue
        </div>
        <div class="wed-z4j">
          17
          <br/>
          Wed
        </div>
        <div class="thu-hUw">
          18
          <br/>
          Thu
        </div>
        <div class="fri-zyq">
          19
          <br/>
          Fri
        </div>
        <div class="sat-JDq">
          20
          <br/>
          Sat
        </div>
      </div>
      <div class="schedule-zcT">
        <div class="time-K8w">
          <div class="item-09-00-dvK">09:00</div>
          <div class="item-10-00-MrK">10:00</div>
          <div class="item-11-00-VBq">11:00</div>
          <div class="item-12-00-QZh">12:00</div>
          <div class="item-13-00-w3q">13:00</div>
          <div class="item-14-00-cvf">14:00</div>
          <div class="item-15-00-kGB">15:00</div>
          <div class="item-16-00-H1D">16:00</div>
          <div class="item-17-00-Cdy">17:00</div>
          <div class="item-18-00-UrP">18:00</div>
        </div>
        <div class="frame-3-M9V">
          <div class="horizontal-grid-VmV">
            <div class="line-2-khR">
            </div>
            <div class="line-3-Gfm">
            </div>
            <div class="line-4-cjd">
            </div>
            <div class="line-5-xoV">
            </div>
            <div class="line-6-iGs">
            </div>
            <div class="line-7-s9m">
            </div>
            <div class="line-8-DjR">
            </div>
            <div class="line-9-BRM">
            </div>
            <div class="line-7-LZ9">
            </div>
          </div>
          <div class="body-E8j">
            <div class="bg-xKd">
            </div>
            <div class="item-12-30-13-50-47m">12:30 - 13:50</div>
            <div class="item--tMh">국민대 멘토링</div>
          </div>
          <div class="body-ZCw">
            <div class="bg-goM">
            </div>
            <div class="item-10-30-11-50-pPm">10:30 - 11:50</div>
            <div class="item--89Z">뉴진스 멘토링</div>
          </div>
          <div class="body-Bdd">
            <div class="bg-vLK">
            </div>
            <div class="item-09-00-10-20-1cf">09:00 - 10:20</div>
            <div class="item--68K">문유진 멘토링</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>