<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Mentoring_3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="/css/mentoring3.css"/>
</head>
<body>
<div class="mentoring3-35M">
  <div class="menu-LKM">
    <a href="http://localhost:8080"><img class="hhru-logo-Tes" src="/image/hhru-logo-66X.png"/></a>
    <div class="new-york-yt7"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
    <p class="informations-dxf"><a href="http://localhost:8080/information">Informations</a></p>
    <p class="community-J3D"><a href="http://localhost:8080/community">Community</a></p>
    <div class="resume-button-zwd">
      <a href="http://localhost:8080/myPage">
      <div class="mypage-82F">MyPage</div>
      <div class="rectangle-4-DpP">
      </div>
      </a>
    </div>
    <div class="sing-in-button-8gT"><a href="http://localhost:8080/loginPage">Sign In</a></div>
  </div>
  <div class="group-21-Nao">
    <div class="group-20-gLb">
      <div class="auto-group-ui7v-oAK">
        <div class="eamilid-H5V">
          <p class="first-name--11V">이름 (First Name) :</p>
          <div class="auto-group-kdvm-JmH">Enter your name..</div>
        </div>
        <div class="eamilid-Nm9">
          <p class="last-name--LCB">성 (Last Name) :</p>
          <div class="auto-group-cxnx-fET">Enter your name..</div>
        </div>
      </div>
      <div class="auto-group-8vgf-Gk3">
        <div class="eamilid-C7u">
          <p class="email--Lzo">이메일 (Email):</p>
          <div class="auto-group-g21h-Frs">info@xyz.com</div>
        </div>
        <div class="eamilid-WXu">
          <p class="mobile-num--Gmy">전화번호 (Mobile Num)  :</p>
          <div class="auto-group-wm3y-zxs">+82 10 1234 5678</div>
        </div>
      </div>
      <div class="auto-group-96gt-4Sw">
        <div class="eamilid-BXZ">
          <p class="password--JcB">비밀번호 (Password) :</p>
          <div class="auto-group-ve7m-q6K">xxxxxxxxxx</div>
        </div>
        <div class="eamilid-Wbm">
          <p class="confirm-password--U2o">비밀번호 재확인 (Confirm Password)  :</p>
          <div class="auto-group-c9vd-zG3">xxxxxxxxxx</div>
        </div>
      </div>
      <p class="preferred-time--cHR">선호 시간대 (Preferred Time) :</p>
      <div class="auto-group-zsgx-S1Z">xxxxxxxxxx</div>
    </div>
    <a href = "http://localhost:8080/mentoring2"><div class="sing-in-button-JJf">신청하기</div></a>
  </div>
</div>

</body>