<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Mentoring</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C800"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway%3A500%2C800"/>
    <link rel="stylesheet" href="/css/mentoring.css"/>
</head>
<body>
<div class="mentoring-cfu">
    <div class="menu-vgb">
        <img class="hhru-logo-ecb" src="/image/hhru-logo-Uc3.png"/>
        <div class="new-york-NoV"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
        <p class="informations-z4B"><a href="http://localhost:8080/information">Informations</a></p>
        <p class="community-J4s"><a href="http://localhost:8080/community">Community</a></p>
        <div class="resume-button-RfH">
            <div class="mypage-Yju"><a href="http://localhost:8080/myPage">MyPage</a></div>
            <div class="rectangle-4-f3q">
            </div>
        </div>
        <div class="sing-in-button-yqD"><a href="http://localhost:8080/loginPage">Sign In</a></div>
    </div>
    <div class="group-9-dum">
        <div class="thumb1-HDd">
            <img class="photo-doH" src="/image/photo-by5.png"/>
            <div class="white-box-NVy">
            </div>
            <p class="learn-more--ho9">김우현 멘토에게 신청하러 가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-orB">생각나는 아이템이 있는데 어떻게 창업을 시작해야 할 지 모르겠다면 언제든지 상담신청해주세요 / 현 당당마켓 백엔드</p>
        </div>
        <div class="auto-group-tajv-Df1">
            <div class="thumb1-wqu">
                <img class="photo-tm9" src="/image/photo-DTH.png"/>
                <div class="white-box-D2j">
                </div>
                <p class="learn-more--vxj">문유진 멘토에게 신청하러 가기 &gt;</p>
                <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-SRH">백엔드, 프론트엔드, 크롤링, 데이터베이스 등에서 궁금한게 있다면 고민하지말고 상담해보세요!</p>
            </div>
            <div class="thumb1-FtX">
                <img class="photo-1sh" src="/image/photo-YsM.png"/>
                <div class="white-box-ZuD">
                </div>
                <p class="learn-more--tRh">이용훈 멘토에게 신청하러 가기 &gt;</p>
                <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-Wxs">힘든 부분에 대해 고민하지말고 같이 고민하는 것이 성공의 지름길입니다</p>
            </div>
        </div>
    </div>
    <div class="group-10-sgw">
        <div class="thumb1-a5Z">
            <img class="photo-ixT" src="/image/photo-1nB.png"/>
            <div class="white-box-URq">
            </div>
            <p class="learn-more--d3q">신정규 멘토에게 신청하러 가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-9H5">오픈소스에 관심이 많지만 시작에 어려움을 겪는 분들, 물어볼 것이 생각나지 않는 사람들 환영합니다.</p>
        </div>
        <div class="thumb1-N9q">
            <img class="photo-uvT" src="/image/photo-dHM.png"/>
            <div class="white-box-fej">
            </div>
            <p class="learn-more--cZy">고지현 멘토에게 신청하러 가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-jeb">80년대에 프로그램 개발을 시작해 LG CNS에서 SI개발을 16년간 수행했습니다 SW부터 창업, 제품기획 및 개발에 궁금한 점을 도와주겠습니다.</p>
        </div>
        <div class="thumb1-y39">
            <img class="photo-gCT" src="/image/photo-acj.png"/>
            <div class="white-box-ddV">
            </div>
            <p class="learn-more--yhM">이태우 멘토에게 신청하러 가기&gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-6my">반갑습니다! 함께 고민하고 물고기를 잡을 수 있는 문제 해결 능력을 키워보아요 :)</p>
        </div>
    </div>
    <div class="group-11-8Tm">
        <div class="thumb1-TW3">
            <img class="photo-bcF" src="/image/photo-TUP.png"/>
            <div class="white-box-xSo">
            </div>
            <p class="learn-more--hvB">이태영 멘토에게 신청하러 가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-RrB">안녕하세요~ 백엔드에 대해 궁금한 분들은 언제든지 멘토링 신청해주시면 친절하게 답변해드리겠습니다~</p>
        </div>
        <div class="thumb1-TH5">
            <img class="photo-c9y" src="/image/photo.png"/>
            <div class="white-box-jEb">
            </div>
            <p class="learn-more--TAb">이주현 멘토에게 신청하러 가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-xt3">소개글이 없습니다.</p>
        </div>
        <div class="thumb1-mqV">
            <img class="photo-uRu" src="/image/photo-apK.png"/>
            <div class="white-box-Swd">
            </div>
            <p class="learn-more--CA7">강남석 멘토에게 신청하러 가기</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-KEj">공인회계사 / 창업 실패 경험 有 / 핀테크 스타트업 CFO, 229억원 규모 시리즈B 펀딩 / 모바일 광고 스타트업 CFO, 코스닥 IPO </p>
        </div>
    </div>
    <div class="group-12-wmu">
        <div class="thumb1-GZH">
            <img class="photo-DzK" src="/image/photo-TQw.png"/>
            <div class="white-box-xwu">
            </div>
            <p class="learn-more--fLX">정태원 멘토에게 신청하러가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-mPZ">다수 스타트업, 대기업에서 근무한 전문가에게 고민을 털으세요.</p>
        </div>
        <div class="thumb1-ZaK">
            <img class="photo-7rj" src="/image/photo-ggj.png"/>
            <div class="white-box-52s">
            </div>
            <a href="http://localhost:8080/mentoring2"><p class="learn-more--b1D">장혜지 멘토에게 신청하러가기 &gt;</p></a>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-6if">jira &amp; confluence 개설 및 사용법 전달 애자일 프로세스(sprint) 개발 진행에 관심 많으신 분 환영합니다.</p>
        </div>
        <div class="thumb1-LN7">
            <img class="photo-hTZ" src="/image/photo-7s9.png"/>
            <div class="white-box-etb">
            </div>
            <p class="learn-more--omV">김냠냠 멘토에게 신청하러가기 &gt;</p>
            <p class="launch-campaigns-but-also-find-new-customers-our-unique-platform-handles-campaigns-from-start-to-end-7GP">뭐든 상담주세요.</p>
        </div>
    </div>
</div>
</body>