<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>MyPage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="/css/myPage.css"/>
</head>
<body>
<div class="mypage-MnK">
  <div class="menu-GuH">
    <a href="http://localhost:8080"><img class="hhru-logo-QEo" src="/image/hhru-logo-LoV.png"/></a>
    <div class="new-york-j2B"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
    <p class="informations-YVR"><a href="http://localhost:8080/information">Informations</a></p>
    <p class="community-4if"><a href="http://localhost:8080/community">Community</a></p>
    <div class="resume-button-NzF">
      <a href="http://localhost:8080/myPage">
      <div class="mypage-UnP">MyPage</div>
      <div class="rectangle-4-yDM">

      </div>
      </a>
    </div>
    <div class="sing-in-button-635"><a href="http://localhost:8080/loginPage">Sign In</a></div>
  </div>
  <p class="item--kNX">나의 정보</p>
  <div class="auto-group-vuhd-36j">
    <div class="group-24-wxo">
      <div class="group-21-gQb">
        <div class="group-20-dqd">
          <div class="auto-group-gbf9-C83">
            <div class="eamilid-93H">
              <p class="first-name--5Sj">이름 (Name) :</p>
              <div class="auto-group-3k6t-Bkf">Enter your name..</div>
            </div>
            <div class="eamilid-55M">
              <p class="last-name--Ruu">멘토링 신청 내역 :</p>
              <div class="auto-group-zrvb-ZmD">2022.12.30 11:00AM 장혜지 멘토 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X
                <br>2023.01.07 13:00PM 문유진 멘토 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; X</div>
            </div>
          </div>
          <div class="auto-group-qbpz-2eo">
            <div class="eamilid-vVH">
              <p class="email--G3M">이메일 (Email):</p>
              <div class="auto-group-w7o1-o3H">info@xyz.com</div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="image-6-ZyV">
    </div>
  </div>
</div>
</body>