<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>MyPage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A900"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A600"/>
  <link rel="stylesheet" href="./styles/mypage.css"/>
</head>
<body>
<div class="mypage-VDV">
  <div class="menu-1hd">
    <img class="hhru-logo-9oq" src="./assets/hhru-logo-drB.png"/>
    <div class="new-york-g35">Mentoring</div>
    <p class="informations-kYj">Informations</p>
    <p class="community-sdM">Community</p>
    <div class="resume-button-omu">
      <div class="mypage-jfZ">MyPage</div>
      <div class="rectangle-4-eGj">
      </div>
    </div>
    <div class="sing-in-button-mMM">Sign In</div>
  </div>
  <p class="item--deT">나의 정보</p>
  <div class="auto-group-fueb-M4f">
    <p class="item-2022-12-30--Vgf">2022 12 30 장혜지 멘토</p>
    <div class="image-6-BpP">
    </div>
  </div>
</div>
</body>