<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>write</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C600%2C900"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C900"/>
    <link rel="stylesheet" href="/css/write.css"/>
</head>
<body>
<div class="write-EcT">
    <div class="menu-Mh5">
        <img class="hhru-logo-tS7" src="/image/logo.png"/>
        <div class="new-york-DUP"><a href="http://localhost:8080/mentoring">Mentoring</a></div>
        <p class="informations-Uv7"><a href="http://localhost:8080/information">Informations</a></p>
        <p class="community-zdZ"><a href="http://localhost:8080/community">Community</a></p>
        <div class="resume-button-vGK">
            <a href="http://localhost:8080/myPage">
                <div class="mypage-T1M">MyPage</div>
                <div class="rectangle-4-AAf">
                </div>
            </a>
        </div>
        <div class="sing-in-button-t6f"><a href="http://localhost:8080/loginPage">Sign In</a></div>
    </div>
    <div class="titulo-input-LjM">
        <lable for="title">
            <p class="label-Uaf">제목</p>
            <input type="text" class="titulo-QjD" id="title" placeholder="제목을 입력하세요">
        </lable>
    </div>
    <div class="sinopase-input-1U7">
        <label for="content"><p class="label-jf1">내용</p></label>
        <textarea class="auto-group-bwyz-Gew"id="content" placeholder="내용을 입력하세요"></textarea>
    </div>
    <button type="button" class="sing-in-button-uC7" id="btn-save">작성하기</button>
</div>
</body>

{{>layout/footer}}